@charset "UTF-8";
h1, h2, h3 {
  text-transform: uppercase;
  margin: 0; }

h1 {
  font-size: 20pt;
  font-style: bold;
  color: #333; }

h2 {
  font-size: 16pt;
  color: #333; }

h3 {
  font-size: 12pt;
  color: #666; }

p {
  font-size: 11pt;
  margin: 0;
  color: #666; }

.text_align_left {
  text-align: left; }
  .text_align_left h1, .text_align_left h2 {
    width: 80%; }

li {
  color: #666;
  font-size: 9pt; }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }

@font-face {
  font-family: Knoc29;
  src: url(../fonts/knoc29jl/knoc29jl-webfont.eot);
  src: url(../fonts/knoc29jl/knoc29jl-webfont.svg);
  src: url(../fonts/knoc29jl/knoc29jl-webfont.ttf);
  src: url(../fonts/knoc29jl/knoc29jl-webfont.woff);
  src: url(../fonts/knoc29jl/knoc29jl-webfont.woff2); }

@font-face {
  font-family: Knoc49;
  src: url(../fonts/knoc49l/knoc49l-webfont.eot);
  src: url(../fonts/knoc49l/knoc49l-webfont.svg);
  src: url(../fonts/knoc49l/knoc49l-webfont.ttf);
  src: url(../fonts/knoc49l/knoc49l-webfont.woff);
  src: url(../fonts/knoc49l/knoc49l-webfont.woff2); }

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem; }

.col-xs-4, .col-xs-9, .col-xs-11, .col-xs-12 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.col-xs-4 {
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%; }

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%; }

.col-xs-11 {
  -ms-flex-preferred-size: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%; }

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%; }

.center-xs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.end-xs {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end; }

.middle-xs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

@media only screen and (min-width: 64em) {
  .col-md-4, .col-md-8, .col-md-9, .col-md-offset-4 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .col-md-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%; }
  .col-md-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%; }
  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-md-offset-4 {
    margin-left: 33.33333333%; }
  .middle-md {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

ul li {
  text-align: left;
  text-transform: uppercase;
  list-style-position: inside; }

.outter_container {
  margin: 30px 0; }

.flex-ul li {
  display: flex;
  justify-content: space-between; }

.tab_arrow_right {
  padding-right: 15px; }

/* Slider */

/* Slider */

/* Icons */
@font-face {
  font-family: "slick";
  src: url("././fonts/slick.eot");
  src: url("././fonts/slick.eot?#iefix") format("embedded-opentype"), url("././fonts/slick.woff") format("woff"), url("././fonts/slick.ttf") format("truetype"), url("././fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */

/* Dots */

/* Base styles for the element that has a tooltip */
[data-tooltip] {
  position: relative;
  cursor: pointer; }

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  pointer-events: none; }

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

/* Base styles for the tooltip's directional arrow */
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: ""; }

/* Base styles for the tooltip's content area */
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: #000;
  background-color: rgba(51, 51, 51, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2; }

/* Directions */
/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after {
  bottom: 100%;
  left: 50%; }

[data-tooltip]:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: rgba(51, 51, 51, 0.9); }

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after {
  margin-left: -80px; }

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform: translateY(-12px);
  transform: translateY(-12px); }

.button {
  display: flex;
  background-color: #666;
  text-align: center;
  border: 0;
  padding-top: 5px;
  padding-bottom: 4px; }

#header_logo_container {
  margin-top: 0px; }

.carousel_img {
  width: 100%; }

#what_we_do_2 h3 {
  text-align: left; }

#portfolio {
  padding: 0;
  column-count: 2; }

#portfolio_link {
  font-size: 10pt;
  color: #999; }

#news_title, #news_2_container, #news_3_container {
  border-top: 1px solid #ccc; }

#news_title, #news_1_container, #news_2_container, #news_3_container {
  background-color: #f2f2f2;
  padding-top: 25px;
  padding-bottom: 35px; }

.news_title {
  float: left; }

.news_text {
  column-count: 2;
  float: right; }

#news_title {
  padding-bottom: 0; }

.news_2_3_container {
  display: none; }

.button_news {
  display: flex;
  background-color: #666;
  text-align: center;
  border: 0;
  padding-top: 5px;
  padding-bottom: 4px; }
  .button_news p {
    text-transform: uppercase;
    color: white;
    float: left;
    padding-left: 10px;
    font-size: 9pt; }
  .button_news img {
    padding-left: 10px;
    padding-right: 10px; }

#show_less {
  display: none; }

ul.tabs {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul.tabs li {
    border-top: solid 1px #ccc;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #f2f2f2; }
    ul.tabs li a {
      margin-left: 10px;
      font-weight: bold;
      text-decoration: none;
      color: black; }
  ul.tabs li:last-child {
    border-bottom: solid 1px #ccc; }

article {
  padding: 0 1em;
  text-align: left; }

.tab_images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; }
  .tab_images .tab_img {
    width: 40%;
    height: 100%; }

.tab_text {
  margin-top: 20px; }

.block {
  border-top: solid 1px #ccc; }

.contact-form, .contact_form_container {
  text-align: left; }

.contact_form_container h2 {
  margin: 30px 0; }

.contact-form {
  padding-left: 15px; }

.submit {
  float: left; }

.contact_field {
  width: 100%;
  padding-top: 30px;
  justify-content: space-between; }
  .contact_field span {
    width: 60%; }
    .contact_field span input[type=text], .contact_field span input[type=email], .contact_field span input[type=tel] {
      /* required to properly style form
         * elements on WebKit based browsers */
      -webkit-appearance: none;
      width: 100%;
      height: 25px;
      border: 1px solid #333;
      margin: 0;
      font-family: inherit;
      font-size: 90%;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .contact_field span input:invalid {
      box-shadow: 0 0 5px 1px red;
      animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px; }
    .contact_field span input:focus:invalid {
      outline: none; }
    .contact_field span input:valid {
      box-shadow: 0 0 5px 1px blue; }
  .contact_field input[type="button"] {
    width: 30%;
    height: 50px;
    margin-left: 40%;
    justify-content: center;
    color: white;
    text-align: center; }

#footer_container {
  margin: 30px 0;
  padding-bottom: 30px; }

.copyright {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  width: 100%;
  text-align: right; }
  .copyright p {
    font-size: 8pt; }

@media only screen and (max-width: 425px) {
  #header_logo_container {
    min-width: 70%; }
  #about_text_1, #what_we_do_1 {
    margin-bottom: 20px; }
  #portfolio li {
    font-size: 7pt; }
  .news_text {
    column-count: inherit;
    margin-top: 20px; }
  .tabs {
    width: 100%; }
    .tabs li {
      width: 25%;
      border-bottom: none !important; }
  .block {
    border: 0; }
  .contact_field {
    flex-direction: column; }
    .contact_field label {
      margin-bottom: 10px; }
  .copyright {
    text-align: center; } }

@media only screen and (min-width: 424px) and (max-width: 600px) {
  #about_text_1, #what_we_do_1 {
    margin-bottom: 20px; }
  .news_text {
    margin-top: 20px; }
  .tabs {
    display: flex;
    width: 100%; }
    .tabs li {
      width: 25%;
      border-bottom: none !important; }
  .block {
    border: 0; }
  .contact_field {
    flex-direction: column; }
    .contact_field label {
      margin-bottom: 10px; }
  .copyright {
    text-align: center; } }

@media only screen and (min-width: 600px) and (max-width: 768px) {
  #about_text_1, #what_we_do_1 {
    margin-bottom: 20px; }
  #what_we_do_2 {
    margin-left: 10%; }
  .news_text {
    margin-top: 20px; }
  .tabs {
    display: flex;
    width: 100%; }
    .tabs li {
      width: 25%;
      border-bottom: none !important; }
  .block {
    border: 0; }
  .contact_field {
    flex-direction: column; }
    .contact_field label {
      margin-bottom: 10px; }
  .copyright {
    text-align: center; } }

@media only screen and (min-width: 678px) {
  #about_text_1, #what_we_do_1 {
    margin-bottom: 20px; }
  .news_text {
    margin-top: 20px; } }
